#skyweb24_contact_type4 input[type=submit] {background: #6ab04c;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #badc58;}
#skyweb24_contact_type4 div.consentBlock a {color: #6ab04c;}
	#skyweb24_contact_type4 div.main h2 {color: #6ab04c;}

.skyweb24_popup_pro_timer {background: #6ab04c;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #6ab04c;}