#skyweb24_contact_type4 input[type=submit] {background: #341f97;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #5f27cd;}
#skyweb24_contact_type4 div.consentBlock a {color: #341f97;}
	#skyweb24_contact_type4 div.main h2 {color: #341f97;}

.skyweb24_popup_pro_timer {background: #341f97;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #341f97;}