#skyweb24_contact_type4 input[type=submit] {background: #0abde3;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #48dbfb;}
#skyweb24_contact_type4 div.consentBlock a {color: #0abde3;}
	#skyweb24_contact_type4 div.main h2 {color: #0abde3;}

.skyweb24_popup_pro_timer {background: #0abde3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #0abde3;}