#skyweb24_contact_type4 input[type=submit] {background: #10ac84;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #1dd1a1;}
#skyweb24_contact_type4 div.consentBlock a {color: #10ac84;}
	#skyweb24_contact_type4 div.main h2 {color: #10ac84;}

.skyweb24_popup_pro_timer {background: #10ac84;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #10ac84;}