#skyweb24_contact_type4 input[type=submit] {background: #8395a7;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #c8d6e5;}
#skyweb24_contact_type4 div.consentBlock a {color: #8395a7;}
	#skyweb24_contact_type4 div.main h2 {color: #8395a7;}

.skyweb24_popup_pro_timer {background: #8395a7;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #8395a7;}