#skyweb24_contact_type4 input[type=submit] {background: #16a085;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #1abc9c;}
#skyweb24_contact_type4 div.consentBlock a {color: #16a085;}
	#skyweb24_contact_type4 div.main h2 {color: #16a085;}

.skyweb24_popup_pro_timer {background: #16a085;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #16a085;}