#skyweb24_contact_type4 input[type=submit] {background: #303952;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #596275;}
#skyweb24_contact_type4 div.consentBlock a {color: #303952;}
	#skyweb24_contact_type4 div.main h2 {color: #303952;}

.skyweb24_popup_pro_timer {background: #303952;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #303952;}