#skyweb24_contact_type4 input[type=submit] {background: #f78fb3;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #f8a5c2;}
#skyweb24_contact_type4 div.consentBlock a {color: #f78fb3;}
	#skyweb24_contact_type4 div.main h2 {color: #f78fb3;}

.skyweb24_popup_pro_timer {background: #f78fb3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f78fb3;}