#skyweb24_contact_type4 input[type=submit] {background: #e15f41;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #e77f67;}
#skyweb24_contact_type4 div.consentBlock a {color: #e15f41;}
	#skyweb24_contact_type4 div.main h2 {color: #e15f41;}

.skyweb24_popup_pro_timer {background: #e15f41;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #e15f41;}