#skyweb24_contact_type4 input[type=submit] {background: #8e44ad;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #9b59b6;}
#skyweb24_contact_type4 div.consentBlock a {color: #8e44ad;}
	#skyweb24_contact_type4 div.main h2 {color: #8e44ad;}

.skyweb24_popup_pro_timer {background: #8e44ad;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #8e44ad;}