#skyweb24_roulette h2 {color: #c7ecee;}
#skyweb24_roulette p.result_roll {color: #c7ecee;}
#skyweb24_roulette label.email.input>input {border: 1px solid #c7ecee; color: #c7ecee;}
#skyweb24_roulette button.roll_roulette {background: #c7ecee;}
	#skyweb24_roulette button.roll_roulette:hover {background: #dff9fb;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #dff9fb!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #c7ecee!important}

.skyweb24_popup_pro_timer {background: #c7ecee;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c7ecee;}