#skyweb24_roulette h2 {color: #01a3a4;}
#skyweb24_roulette p.result_roll {color: #01a3a4;}
#skyweb24_roulette label.email.input>input {border: 1px solid #01a3a4; color: #01a3a4;}
#skyweb24_roulette button.roll_roulette {background: #01a3a4;}
	#skyweb24_roulette button.roll_roulette:hover {background: #00d2d3;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #00d2d3!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #01a3a4!important}

.skyweb24_popup_pro_timer {background: #01a3a4;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #01a3a4;}