#skyweb24_roulette h2 {color: #ee5253;}
#skyweb24_roulette p.result_roll {color: #ee5253;}
#skyweb24_roulette label.email.input>input {border: 1px solid #ee5253; color: #ee5253;}
#skyweb24_roulette button.roll_roulette {background: #ee5253;}
	#skyweb24_roulette button.roll_roulette:hover {background: #ff6b6b;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #ff6b6b!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #ee5253!important}

.skyweb24_popup_pro_timer {background: #ee5253;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #ee5253;}