#skyweb24_roulette h2 {color: #27ae60;}
#skyweb24_roulette p.result_roll {color: #27ae60;}
#skyweb24_roulette label.email.input>input {border: 1px solid #27ae60; color: #27ae60;}
#skyweb24_roulette button.roll_roulette {background: #27ae60;}
	#skyweb24_roulette button.roll_roulette:hover {background: #2ecc71;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #2ecc71!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #27ae60!important}

.skyweb24_popup_pro_timer {background: #27ae60;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #27ae60;}