.skyweb24_discount>div.content>h2 {color: #be2edd;}
.skyweb24_discount fieldset label.submit>input {background: #be2edd; border-color: #be2edd;}
	.skyweb24_discount fieldset label.submit>input:hover {background: #e056fd; border-color: #e056fd;}
.skyweb24_discount>.card {background: radial-gradient(ellipse at center, #be2edd 50%, #e056fd 100%);}
.skyweb24_discount>.background>span {position: absolute; border-radius: 50%;}
	.skyweb24_discount>.background>span:nth-child(odd) {background:rgba(224, 86, 253, 0.5);}
	.skyweb24_discount>.background>span:nth-child(even) {background: rgba(190, 46, 221, 0.75);}

.skyweb24_popup_pro_timer {background: #be2edd;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #be2edd;}