.skyweb24_discount>div.content>h2 {color: #c44569;}
.skyweb24_discount fieldset label.submit>input {background: #c44569; border-color: #c44569;}
	.skyweb24_discount fieldset label.submit>input:hover {background: #cf6a87; border-color: #cf6a87;}
.skyweb24_discount>.card {background: radial-gradient(ellipse at center, #c44569 50%, #cf6a87 100%);}
.skyweb24_discount>.background>span {position: absolute; border-radius: 50%;}
	.skyweb24_discount>.background>span:nth-child(odd) {background: rgba(207, 106, 135, 0.5);}
	.skyweb24_discount>.background>span:nth-child(even) {background: rgba(196, 69, 105, 0.75);}

.skyweb24_popup_pro_timer {background: #c44569;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c44569;}