#skyweb24_contact_type3 div.back:before {background: #30336b;}
#skyweb24_contact_type3 div.main:before {background: #130f40;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #130f40; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #30336b;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #130f40;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #130f40;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #130f40;}

.skyweb24_popup_pro_timer {background: #130f40;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #130f40;}