#skyweb24_contact_type3 div.back:before {background: #7ed6df;}
#skyweb24_contact_type3 div.main:before {background: #22a6b3;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #22a6b3; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #7ed6df;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #22a6b3;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #22a6b3;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #22a6b3;}

.skyweb24_popup_pro_timer {background: #22a6b3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #22a6b3;}