#skyweb24_contact_type3 div.back:before {background: #ff9ff3;}
#skyweb24_contact_type3 div.main:before {background: #f368e0;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #f368e0; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #ff9ff3;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #f368e0;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #f368e0;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #f368e0;}

.skyweb24_popup_pro_timer {background: #f368e0;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f368e0;}