#skyweb24_contact_type3 div.back:before {background: #c8d6e5;}
#skyweb24_contact_type3 div.main:before {background: #8395a7;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #8395a7; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #c8d6e5;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #8395a7;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #8395a7;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #8395a7;}

.skyweb24_popup_pro_timer {background: #8395a7;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #8395a7;}