#skyweb24_contact_type3 div.back:before {background: #e67e22;}
#skyweb24_contact_type3 div.main:before {background: #d35400;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #d35400; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #e67e22;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #d35400;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #d35400;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #d35400;}

.skyweb24_popup_pro_timer {background: #d35400;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #d35400;}