#skyweb24_contact_type3 div.back:before {background: #cf6a87;}
#skyweb24_contact_type3 div.main:before {background: #c44569;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #c44569; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #cf6a87;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #c44569;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #c44569;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #c44569;}

.skyweb24_popup_pro_timer {background: #c44569;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c44569;}