#skyweb24_contact_type3 div.back:before {background: #9b59b6;}
#skyweb24_contact_type3 div.main:before {background: #8e44ad;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #8e44ad; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #9b59b6;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #8e44ad;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #8e44ad;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #9b59b6;}

.skyweb24_popup_pro_timer {background: #8e44ad;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #8e44ad;}