#skyweb24_popup_action {background: #ecf0f1;}
	#skyweb24_popup_action .text {color: #2c3e50;}
		#skyweb24_popup_action .text h2 {color: #c7ecee;}
		#skyweb24_popup_action .text h3 {color: #c7ecee;}
		#skyweb24_popup_action .text .going_link {background: #c7ecee;}
			#skyweb24_popup_action .text .going_link:hover {background: #dff9fb;}

.skyweb24_popup_pro_timer {background: #c7ecee;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c7ecee;}