#skyweb24_popup_action {background: #ecf0f1;}
	#skyweb24_popup_action .text {color: #2c3e50;}
		#skyweb24_popup_action .text h2 {color: #27ae60;}
		#skyweb24_popup_action .text h3 {color: #27ae60;}
		#skyweb24_popup_action .text .going_link {background: #27ae60;}
			#skyweb24_popup_action .text .going_link:hover {background: #2ecc71;}

.skyweb24_popup_pro_timer {background: #27ae60;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #27ae60;}