#skyweb24_popup_action {background: #ecf0f1;}
	#skyweb24_popup_action .text {color: #2c3e50;}
		#skyweb24_popup_action .text h2 {color: #d35400;}
		#skyweb24_popup_action .text h3 {color: #d35400;}
		#skyweb24_popup_action .text .going_link {background: #d35400;}
			#skyweb24_popup_action .text .going_link:hover {background: #e67e22;}

.skyweb24_popup_pro_timer {background: #d35400;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #d35400;}