.skyweb24_discount>div.content>h2 {color: #01a3a4;}
.skyweb24_discount fieldset label.submit>input {background: #01a3a4; border-color: #01a3a4;}
	.skyweb24_discount fieldset label.submit>input:hover {background: #00d2d3; border-color: #00d2d3;}
.skyweb24_discount>.card {background: radial-gradient(ellipse at center, #01a3a4 50%, #00d2d3 100%);}
.skyweb24_discount>.background>span {position: absolute; border-radius: 50%;}
	.skyweb24_discount>.background>span:nth-child(odd) {background: rgba(0, 210, 211, 0.5);}
	.skyweb24_discount>.background>span:nth-child(even) {background: rgba(1, 163, 164, 0.75);}

.skyweb24_popup_pro_timer {background: #01a3a4;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #01a3a4;}