#skyweb24_popup_action {background: #ecf0f1;}
	#skyweb24_popup_action .text {color: #2c3e50;}
		#skyweb24_popup_action .text h2 {color: #ff9f43;}
		#skyweb24_popup_action .text h3 {color: #ff9f43;}
		#skyweb24_popup_action .text .going_link {background: #ff9f43;}
			#skyweb24_popup_action .text .going_link:hover {background: #feca57;}

.skyweb24_popup_pro_timer {background: #ff9f43;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #ff9f43;}