#subHeader4 .openTopSearch,
#subHeader8 .openTopSearch{
	background: url(images/searchH4.png) 50% 50% no-repeat transparent;
	display: inline-block;
	height: 40px;
	width: 60px;
}

#subHeader4.color_black .openTopSearch,
#subHeader4.color_theme .openTopSearch,
#subHeader8.color_black .openTopSearch,
#subHeader8.color_theme .openTopSearch,
#subHeader9.color_black .openTopSearch,
#subHeader9.color_theme .openTopSearch{
	background: url(images/searchH4w.png) 50% 50% no-repeat transparent;
}

#subHeader4 .openTopSearch:hover{
	opacity: 0.7;
}

#subHeader4 .openTopSearch:active{
	position: relative;
	top: 1px;
}

#topSearch3 .searchContainerInner{
	height: 50px;
}

#topSearch3{
	background-color: #ffffff;
	position: absolute;
	line-height: 90px;
	display: none;
	height: 90px;
	z-index: 99;
	width: 100%;
	left: 0px;
	top: 1px;
}

#subHeader4.color_black #topSearch3{
	background-color: #2b2b2b;
}

#topSearchForm{
	vertical-align: middle;
	display: inline-block;
	line-height: 21px;
}

#topSearch3 .searchContainer{
	border-collapse: collapse;
	table-layout: fixed;
	line-height: 50px;
	display: table;
	height: 50px;
	width: 100%;
}

#topSearch3 .searchColumn{
	vertical-align: middle;
	display: table-cell;
	position: relative;
}

#topSearch3 .searchColumn:last-child{
	padding-left: 12px;
	width: 54px;
}

#topSearch3 #searchQuery{
	background: url(images/searchH2.png) 14px 50% no-repeat transparent;
	background-color: #fbfbfb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #f3f3f3;
	box-sizing: border-box;
	padding: 0 120px 0 1%;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	height: 50px;
	width: 100%;
}

#subHeader4.color_black #topSearch3 #searchQuery{
	border-color: rgba(255, 255, 255, 0.2);
	background-color: rgba(0, 0, 0, 0.05);
	color: #ffffff;
}

#topSearch3 #goSearch{
	background: url(images/searchIcoH4.png) 50% 50% no-repeat #fbfbfb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #f3f3f3;
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	height: 50px;
	width: 54px;
}

#subHeader4.color_black #topSearch3 #goSearch{
	background-image: url(images/searchIcoH4W.png);
	border-color: rgba(255, 255, 255, 0.2);
	background-color: rgba(0, 0, 0, 0.05);
}

#topSearch3 #goSearch:hover{
	opacity: 0.8;
}

#topSearch3 #goSearch:active{
	position: relative;
	top: 1px;
}

#topSeachCloseForm{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	position: absolute;
	color: #000000;
	right: 24px;
	top: 0px;
}

#subHeader4.color_black #topSeachCloseForm{
	color: #ffffff;
}

#topSeachCloseForm:hover{
	opacity: 0.8;
}

#topSeachCloseForm:active{
	top: 1px;
}

#searchResult{
	border-top: 1px solid #f3f3f3;
	background-color: #ffffff;
	position: absolute;
	display: none;
	height: auto;
	z-index: 999;
	width: 100%;
	left: 0;
}

#subHeader4 #searchResult{
	top: 90px;
}

#subHeader4 #searchOverlap{
	top: 80px;
}

#searchResult h1{
    font-family: 'robotobold';
    text-transform: uppercase;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    line-height: 85px;
    font-size: 18px;
    height: 85px;
    margin: 0px;
}

#searchResult.visible{
	display: block;
}

#searchResult .productList{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 24px;
	padding: 0 24px;
}

#searchResult .item{
	width: 14.285%;
}

#searchResult .product:nth-child(6n+1) {
    border-left: 1px solid #e7e8ea;
}

#searchResult .searchAllResult{
	-webkit-transition: all 0.2 ease-in-out;
	-o-transition: all 0.2 ease-in-out;
	transition: all 0.2 ease-in-out;
	border-top: 1px solid #e7e8ea;
    background-color: #f3f3f3;
    font-family: 'robotobold';
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-align: center;
    line-height: 85px;
    font-size: 14px;
    display: block;
    color: #000000;
    height: 85px;
}

#searchResult .searchAllResult:hover{
	background-color: #eeeeee;
}

#searchResult .searchAllResult span{
	border-bottom: 1px dashed #000000;
	padding-bottom: 4px;
}

#searchResult .errorMessage{
	margin: 24px 36px 24px 36px;
	text-align: center;
	font-size: 14px;
	color: #000000;
}

#searchProductsClose{
	background: url(images/exit.png) 0 0 no-repeat transparent;
	position: absolute;
	margin-top: -9px;
	display: block;
	height: 18px;
	width: 18px;
	right: 24px;
	top: 50%;
}

#searchProductsClose:hover{
	background-position: -18px 0;
}

#searchProductsClose:active{
	background-position: -36px 0;	
}

.bx-pagination {
	margin: 10px 0;
}
.bx-pagination .bx-pagination-container {
	text-align: center;
	position: relative;
}
.bx-pagination .bx-pagination-container ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.bx-pagination .bx-pagination-container ul li {
	display: inline-block;
	margin: 0 2px 15px 2px;
}
.bx-pagination .bx-pagination-container ul li span{
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
       -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	 -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    		transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	background: #eff0f1;
	padding: 0 8px;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	color: #444;
	font-size: 14px;
	border-radius: 16px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-pagination .bx-pagination-container ul li a {
	text-decoration: none;
	display: block;
	border-radius: 16px;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	color: #444;
	vertical-align: middle;
}
.bx-pagination .bx-pagination-container ul li a:hover span{
	background: #DADADA;
}
.bx-pagination .bx-pagination-container ul li.bx-active span{
/*	    background: #ff9601;
	color: #fff;*/
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
	background: #fff;
	border: 2px solid #eff0f1;
	line-height: 28px;
	padding: 0 18px;
	color: #444;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next span{
	color: #aab1b4;
	background: #fff;
	border: 2px solid #eff0f1;
	line-height: 28px;
	padding: 0 18px;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
	background: #fff;
	border-color: #DADADA;
	color: #000;
}

@media all and (max-width: 1920px){

	#searchResult .item{
		width: 16.666666%;
	}
}


@media all and (max-width: 1600px){
	#searchResult .item{
		width: 20%;
	}
}

@media all and (max-width: 1300px){
	#searchResult .item{
		width: 25%;
	}
}

@media all and (max-width: 1024px){
	#searchResult .item{
		width: 33.33333%;
	}
}

@media all and (max-width: 790px){
	#searchResult .item{
		width: 50%;
	}
}

@media all and (max-width: 600px){
	#searchResult .item{
		width: 100%;
	}
}