#skyweb24_coupon_coupon button {background: #22a6b3;}
	#skyweb24_coupon_coupon button:hover {background: #7ed6df;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(34, 166, 179, 0.5);}
#skyweb24_coupon_coupon input {color: #22a6b3;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #7ed6df; border: 2px dashed #22a6b3;}

.skyweb24_popup_pro_timer {background: #22a6b3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #22a6b3;}