#skyweb24_coupon_coupon button {background: #f9ca24;}
	#skyweb24_coupon_coupon button:hover {background: #f6e58d;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(249, 202, 36, 0.5);}
#skyweb24_coupon_coupon input {color: #f9ca24;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #f6e58d; border: 2px dashed #f9ca24;}

.skyweb24_popup_pro_timer {background: #f9ca24;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f9ca24;}