#skyweb24_coupon_coupon button {background: #ee5253;}
	#skyweb24_coupon_coupon button:hover {background: #ff6b6b;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(238, 82, 83, 0.5);}
#skyweb24_coupon_coupon input {color: #ee5253;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #ff6b6b; border: 2px dashed #ee5253;}

.skyweb24_popup_pro_timer {background: #ee5253;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #ee5253;}