#skyweb24_coupon_coupon button {background: #ff9f43;}
	#skyweb24_coupon_coupon button:hover {background: #feca57;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(255, 159, 67, 0.5);}
#skyweb24_coupon_coupon input {color: #ff9f43;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #feca57; border: 2px dashed #ff9f43;}

.skyweb24_popup_pro_timer {background: #ff9f43;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #ff9f43;}