#skyweb24_coupon_coupon button {background: #222f3e;}
	#skyweb24_coupon_coupon button:hover {background: #576574;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(34, 47, 62, 0.5);}
#skyweb24_coupon_coupon input {color: #222f3e;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #576574; border: 2px dashed #222f3e;}

.skyweb24_popup_pro_timer {background: #222f3e;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #222f3e;}