#skyweb24_coupon_coupon button {background: #f78fb3;}
	#skyweb24_coupon_coupon button:hover {background: #f8a5c2;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(247, 143, 179, 0.5);}
#skyweb24_coupon_coupon input {color: #f78fb3;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #f8a5c2; border: 2px dashed #f78fb3;}

.skyweb24_popup_pro_timer {background: #f78fb3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f78fb3;}