#brandList{
	margin-top: 24px;
	overflow: hidden;
}

#brandList .heading{
	background-color: #424242;
	margin-bottom: 0px !important;
    padding-left: 18px;
	line-height: 50px;
    font-size: 17px;
    display: block;
    color: #ffffff;
    height: 50px;
}

#brandList .items{
	list-style: none;
	overflow: hidden;
}

#brandList .item{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background-color: #ffffff;
	border-right: 1px solid #e7e8ea;
	border-bottom: 1px solid #e7e8ea;
	height: 120px;
	line-height: 120px;
	overflow: hidden;
	float: left;
	width: 20%;

}

#brandList .tabloid{
	position: relative;
	padding: 12px;
}

#brandList .markerContainer{
	position: absolute;
	top: 8px;
	left: 8px;
}

#brandList .marker {
	font: normal normal 12px "roboto_ltregular" , arial , sans-serif;
	background-color: #424242;
	margin-bottom: 8px;
	color: #fff;
	padding: 3px 4px;
	line-height: 16px;
	z-index: 2;
}

#brandList .picture{
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
	opacity: 0.8;
	text-align: center;
	line-height: 100px;
	display: block;
	height: 100px;
}

#brandList .picture:hover{
	opacity: 1;
}

#brandList .picture img{
	vertical-align: middle;
	max-height: 90%;
	max-width: 90%;
}

#brandList .name{
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	display: block;
	color: #000000;
	margin: 12px 0;
}

#brandList .name:hover{
    color: #f9a910;
}

#brandList .last{
	background: #f3f3f3;
}

#brandList .last .wp{
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	line-height: 21px;
	width: 100%;
}

#brandList .last .showMore{
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	color: #000000;
	width: 100%;
}

#brandList .last .showMore:hover{
	color: #f9a910;
	opacity: 0.7;
}

#brandList .last .icon{
	display: inline-block;
	margin-bottom: 12px;
    text-align: center;
    line-height: 21px;
    height: 52px;
    width: 100%;
}

#brandList .last .ps{
	font-size: 18px;
}

#brandList .last .ps:hover{
    color: #f9a910;
}

#brandList .last .value{
	padding-left: 6px;
	font-size: 18px;
}

#brandList .last .small{
	display: inline-block;
	width: 100%;
}