#skyweb24_coupon_coupon button {background: #c7ecee;}
	#skyweb24_coupon_coupon button:hover {background: #dff9fb;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(199, 236, 238, 0.5);}
#skyweb24_coupon_coupon input {color: #c7ecee;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #dff9fb; border: 2px dashed #c7ecee;}

.skyweb24_popup_pro_timer {background: #c7ecee;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c7ecee;}