#skyweb24_coupon_coupon button {background: #2980b9;}
	#skyweb24_coupon_coupon button:hover {background: #3498db;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(41, 128, 185, 0.5);}
#skyweb24_coupon_coupon input {color: #2980b9;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #3498db; border: 2px dashed #2980b9;}

.skyweb24_popup_pro_timer {background: #2980b9;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #2980b9;}