#skyweb24_coupon_coupon button {background: #10ac84;}
	#skyweb24_coupon_coupon button:hover {background: #1dd1a1;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(16, 172, 132, 0.5);}
#skyweb24_coupon_coupon input {color: #10ac84;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #1dd1a1; border: 2px dashed #10ac84;}

.skyweb24_popup_pro_timer {background: #10ac84;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #10ac84;}