#skyweb24_coupon_coupon button {background: #574b90;}
	#skyweb24_coupon_coupon button:hover {background: #786fa6;}
#skyweb24_coupon_coupon span.sale {color: white; background: rgba(87, 75, 144, 0.5);}
#skyweb24_coupon_coupon input {color: #574b90;}
#skyweb24_coupon_coupon .coupon_block input.goodCoupon {color: #786fa6; border: 2px dashed #574b90;}

.skyweb24_popup_pro_timer {background: #574b90;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #574b90;}