#skyweb24_contact_type1 .bgColorBlock {background: rgba(235, 77, 75, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #eb4d4b;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #ff7979;}

.skyweb24_popup_pro_timer {background: #eb4d4b;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #eb4d4b;}