#skyweb24_contact_type1 .bgColorBlock {background: rgba(199, 236, 238, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #c7ecee;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #dff9fb;}

.skyweb24_popup_pro_timer {background: #c7ecee;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c7ecee;}