#skyweb24_contact_type1 .bgColorBlock {background: rgba(39, 174, 96, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #27ae60;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #2ecc71;}

.skyweb24_popup_pro_timer {background: #27ae60;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #27ae60;}