#skyweb24_contact_type1 .bgColorBlock {background: rgba(247, 143, 179, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #f78fb3;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #f8a5c2;}

.skyweb24_popup_pro_timer {background: #f78fb3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f78fb3;}