#skyweb24_contact_type1 .bgColorBlock {background: rgba(241, 144, 102, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #f19066;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #f3a683;}

.skyweb24_popup_pro_timer {background: #f19066;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f19066;}