#skyweb24_contact_type2 div.subtitle div {background: linear-gradient(to right, #8e44ad 0%, #c0392b 40%, #c0392b 60%, #8e44ad 100%);}
#skyweb24_contact_type2 h2 {color: #8e44ad;}
#skyweb24_contact_type2 fieldset label.submit>button {background: linear-gradient(to right, #8e44ad 0%, #c0392b 100%);}
	#skyweb24_contact_type2 fieldset label.submit>button:hover {background: linear-gradient(to right, #9b59b6 0%, #e74c3c 100%);}

#skyweb24_contact_type2 fieldset label input:not([type="submit"]):empty {border: 1px solid #8e44ad;}
#skyweb24_contact_type2 fieldset label textarea:empty {border: 1px solid #8e44ad;}

.skyweb24_popup_pro_timer {background: linear-gradient(to right, #8e44ad 0%, #c0392b 100%);}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c0392b;}