#skyweb24_contact_type1 .bgColorBlock {background: rgba(72, 52, 212, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #4834d4;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #686de0;}

.skyweb24_popup_pro_timer {background: #4834d4;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #4834d4;}