#skyweb24_contact_type1 .bgColorBlock {background:rgba(34, 166, 179, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #22a6b3;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #7ed6df;}

.skyweb24_popup_pro_timer {background: #22a6b3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #22a6b3;}