#skyweb24_contact_type1 .bgColorBlock {background: rgba(240, 147, 43, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #f0932b;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #ffbe76;}

.skyweb24_popup_pro_timer {background: #f0932b;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f0932b;}