#skyweb24_contact_type1 .bgColorBlock {background: rgba(190, 46, 221, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #be2edd;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #e056fd;}

.skyweb24_popup_pro_timer {background: #be2edd;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #be2edd;}