#skyweb24_contact_type1 .bgColorBlock {background: rgba(249, 202, 36, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #f9ca24;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #f6e58d;}

.skyweb24_popup_pro_timer {background: #f9ca24;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f9ca24;}