#skyweb24_contact_type1 .bgColorBlock {background: #rgba(83, 92, 104, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #535c68;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #95afc0;}

.skyweb24_popup_pro_timer {background: #535c68;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #535c68;}