#skyweb24_contact_type1 .bgColorBlock {background: rgba(16, 172, 132, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #10ac84;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #1dd1a1;}

.skyweb24_popup_pro_timer {background: #10ac84;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #10ac84;}