#skyweb24_contact_type1 .bgColorBlock {background: rgba(255, 159, 67, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #ff9f43;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #feca57;}

.skyweb24_popup_pro_timer {background: #ff9f43;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #ff9f43;}