#skyweb24_contact_type1 .bgColorBlock {background: linear-gradient(-45deg, rgba(41, 128, 185, 0.5) 0%, rgba(39, 174, 96, 0.5) 100%);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #2980b9;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #3498db;}

.skyweb24_popup_pro_timer {background: linear-gradient(-45deg, rgba(41, 128, 185, 0.5) 0%, rgba(39, 174, 96, 0.5) 100%); background-color: #fff;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #2980b9;}