#skyweb24_contact_type1 .bgColorBlock {background: rgba(22, 160, 133, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #16a085;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #1abc9c;}

.skyweb24_popup_pro_timer {background: #16a085;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #16a085;}