#skyweb24_contact_type1 .bgColorBlock {background: rgba(243, 156, 18, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #f39c12;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #f1c40f;}

.skyweb24_popup_pro_timer {background: #f39c12;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f39c12;}