#skyweb24_contact_type1 .bgColorBlock {background: rgba(61, 193, 211, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #3dc1d3;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #63cdda;}

.skyweb24_popup_pro_timer {background: #3dc1d3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #3dc1d3;}