#skyweb24_contact_type1 .bgColorBlock {background: rgba(230, 103, 103, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #e66767;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #ea8685;}

.skyweb24_popup_pro_timer {background: #e66767;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #e66767;}