#skyweb24_contact_type1 .bgColorBlock {background: rgba(245, 205, 121, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #f5cd79;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #f7d794;}

.skyweb24_popup_pro_timer {background: #f5cd79;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f5cd79;}