#skyweb24_contact_type1 .bgColorBlock {background: rgba(225, 95, 65, 0.5);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #e15f41;}
	#skyweb24_contact_type1 .fieldset label.submit>button:hover {background: #e77f67;}

.skyweb24_popup_pro_timer {background: #e15f41;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #e15f41;}