/*Menu icon*/
#shiptor_menu_icon {background:url(icons/shiptor.delivery/shiptor.png) center center no-repeat;}
#shiptor_page_icon {background:url(icons/shiptor.delivery/title.png) center center no-repeat;}
.shiptor_menu_icon {background:url(icons/shiptor.delivery/shiptor.png) center center no-repeat;}
