#popSection{
	margin-top: 24px;
	overflow: hidden;
}

#popSection a{
	text-decoration: none;
}

#popSection .heading{
	background-color: #424242;
	margin-bottom: 0px !important;
    padding-left: 18px;
	line-height: 50px;
    font-size: 16px;
    display: block;
    color: #ffffff;
    height: 50px;
}

#popSection .items{
	list-style: none;
	overflow: hidden;
}

#popSection .item{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 1px solid #e7e8ea;
	border-bottom: 1px solid #e7e8ea;
	background-color: #ffffff;
	overflow: hidden;
	height: 170px;
	float: left;
	width: 20%;

}

#popSection .item:nth-child(5n+1){
	border-left: 1px solid #e7e8ea;
}

#popSection .tabloid{
	position: relative;
	padding: 12px;
}

#popSection .markerContainer{
	position: absolute;
	top: 8px;
	left: 8px;
}

#popSection .marker {
	font: normal normal 12px "roboto_ltregular" , arial , sans-serif;
	background-color: #424242;
	margin-bottom: 8px;
	color: #fff;
	padding: 3px 4px;
	line-height: 16px;
	z-index: 2;
}

#popSection .picture{

	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;

	text-align: center;
	line-height: 100px;
	display: block;
	height: 100px;
	opacity: 1;
}

#popSection .picture:hover{
	opacity: 0.8;
}

#popSection .picture img{
	vertical-align: middle;
	max-height: 90%;
	max-width: 90%;
}

#popSection .name{

	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;

	text-decoration: none;
	text-align: center;
	font-size: 14px;
	display: block;
	color: #000000;
	margin: 12px 0;
}

#popSection .last{
	background-color: #f9f9f9;
	line-height: 170px;
	height: 170px;
}

#popSection .last .wp{
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	line-height: 21px;
	width: 100%;
}

#popSection .last .showMore{
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	color: #000000;
	width: 100%;
}

#popSection .last .showMore:hover{
	opacity: 0.7;
}

#popSection .last .icon{
	display: inline-block;
	margin-bottom: 12px;
    text-align: center;
    line-height: 21px;
    height: 54px;
    width: 100%;
}

#popSection .last .ps{
	font-size: 18px;
}

#popSection .last .value{
	padding-left: 6px;
	font-size: 18px;
}

#popSection .last .small{
	display: inline-block;
	width: 100%;
}