#skyweb24_contact_type3 div.back:before {background: #e056fd;}
#skyweb24_contact_type3 div.main:before {background: #be2edd;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #be2edd; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #e056fd;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #be2edd;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #be2edd;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #be2edd;}

.skyweb24_popup_pro_timer {background: #be2edd;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #be2edd;}