#skyweb24_contact_type3 div.back:before {background: #54a0ff;}
#skyweb24_contact_type3 div.main:before {background: #2e86de;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #2e86de; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #54a0ff;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #2e86de;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #2e86de;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #2e86de;}

.skyweb24_popup_pro_timer {background: #2e86de;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #2e86de;}