#skyweb24_contact_type3 div.back:before {background: #596275;}
#skyweb24_contact_type3 div.main:before {background: #303952;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #303952; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #596275;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #303952;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #303952;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #303952;}

.skyweb24_popup_pro_timer {background: #303952;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #303952;}