#skyweb24_contact_type3 div.back:before {background: #ea8685;}
#skyweb24_contact_type3 div.main:before {background: #e66767;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #e66767; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #ea8685;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #e66767;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #e66767;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #e66767;}

.skyweb24_popup_pro_timer {background: #e66767;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #e66767;}