#skyweb24_contact_type3 div.back:before {background: #f7d794;}
#skyweb24_contact_type3 div.main:before {background: #f5cd79;}

#skyweb24_contact_type3 fieldset label.submit>button {background: #f5cd79; color: #fff;}
#skyweb24_contact_type3 fieldset label.submit>button:hover {background: #f7d794;}

#skyweb24_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #f5cd79;}
#skyweb24_contact_type3 fieldset label textarea:empty {border: 1px solid #f5cd79;}

#skyweb24_contact_type3 .success {color:#fff;}
.alreadygoing.success_send {background: #f5cd79;}

.skyweb24_popup_pro_timer {background: #f5cd79;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f5cd79;}