#skyweb24_roulette h2 {color: #535c68;}
#skyweb24_roulette p.result_roll {color: #535c68;}
#skyweb24_roulette label.email.input>input {border: 1px solid #535c68; color: #535c68;}
#skyweb24_roulette button.roll_roulette {background: #535c68;}
	#skyweb24_roulette button.roll_roulette:hover {background: #95afc0;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #95afc0!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #535c68!important}

.skyweb24_popup_pro_timer {background: #535c68;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #535c68;}