#skyweb24_roulette h2 {color: #222f3e;}
#skyweb24_roulette p.result_roll {color: #222f3e;}
#skyweb24_roulette label.email.input>input {border: 1px solid #222f3e; color: #222f3e;}
#skyweb24_roulette button.roll_roulette {background: #222f3e;}
	#skyweb24_roulette button.roll_roulette:hover {background: #576574;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #576574!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #222f3e!important}

.skyweb24_popup_pro_timer {background: #222f3e;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #222f3e;}