#skyweb24_roulette h2 {color: #8395a7;}
#skyweb24_roulette p.result_roll {color: #8395a7;}
#skyweb24_roulette label.email.input>input {border: 1px solid #8395a7; color: #8395a7;}
#skyweb24_roulette button.roll_roulette {background: #8395a7;}
	#skyweb24_roulette button.roll_roulette:hover {background: #c8d6e5;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #c8d6e5!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #8395a7!important}

.skyweb24_popup_pro_timer {background: #8395a7;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #8395a7;}