#skyweb24_roulette h2 {color: #574b90;}
#skyweb24_roulette p.result_roll {color: #574b90;}
#skyweb24_roulette label.email.input>input {border: 1px solid #574b90; color: #574b90;}
#skyweb24_roulette button.roll_roulette {background: #574b90;}
	#skyweb24_roulette button.roll_roulette:hover {background: #786fa6;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #786fa6!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #574b90!important}

.skyweb24_popup_pro_timer {background: #574b90;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #574b90;}