#skyweb24_roulette h2 {color: #f5cd79;}
#skyweb24_roulette p.result_roll {color: #f5cd79;}
#skyweb24_roulette label.email.input>input {border: 1px solid #f5cd79; color: #f5cd79;}
#skyweb24_roulette button.roll_roulette {background: #f5cd79;}
	#skyweb24_roulette button.roll_roulette:hover {background: #f7d794;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #f7d794!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #f5cd79!important}

.skyweb24_popup_pro_timer {background: #f5cd79;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f5cd79;}