#skyweb24_roulette h2 {color: #f19066;}
#skyweb24_roulette p.result_roll {color: #f19066;}
#skyweb24_roulette label.email.input>input {border: 1px solid #f19066; color: #f19066;}
#skyweb24_roulette button.roll_roulette {background: #f19066;}
	#skyweb24_roulette button.roll_roulette:hover {background: #f3a683;}

#skyweb24_roulette div.arrow path:nth-child(1) {fill: #f3a683!important}
#skyweb24_roulette div.arrow path:nth-child(2) {fill: #f19066!important}

.skyweb24_popup_pro_timer {background: #f19066;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f19066;}