#skyweb24_contact_type4 input[type=submit] {background: #eb4d4b;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #ff7979;}
#skyweb24_contact_type4 div.consentBlock a {color: #eb4d4b;}
	#skyweb24_contact_type4 div.main h2 {color: #eb4d4b;}

.skyweb24_popup_pro_timer {background: #eb4d4b;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #eb4d4b;}