#skyweb24_contact_type4 input[type=submit] {background: #22a6b3;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #7ed6df;}
#skyweb24_contact_type4 div.consentBlock a {color: #22a6b3;}
	#skyweb24_contact_type4 div.main h2 {color: #22a6b3;}

.skyweb24_popup_pro_timer {background: #22a6b3;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #22a6b3;}