#skyweb24_contact_type4 input[type=submit] {background: #f0932b;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #ffbe76;}
#skyweb24_contact_type4 div.consentBlock a {color: #f0932b;}
	#skyweb24_contact_type4 div.main h2 {color: #f0932b;}

.skyweb24_popup_pro_timer {background: #f0932b;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #f0932b;}