#skyweb24_contact_type4 input[type=submit] {background: #222f3e;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #576574;}
#skyweb24_contact_type4 div.consentBlock a {color: #222f3e;}
	#skyweb24_contact_type4 div.main h2 {color: #222f3e;}

.skyweb24_popup_pro_timer {background: #222f3e;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #222f3e;}