#skyweb24_contact_type4 input[type=submit] {background: #c0392b;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #e74c3c;}
#skyweb24_contact_type4 div.consentBlock a {color: #c0392b;}
	#skyweb24_contact_type4 div.main h2 {color: #c0392b;}

.skyweb24_popup_pro_timer {background: #c0392b;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c0392b;}