#skyweb24_contact_type4 input[type=submit] {background: #c44569;}
	#skyweb24_contact_type4 input[type=submit]:hover {background: #cf6a87;}
#skyweb24_contact_type4 div.consentBlock a {color: #c44569;}
	#skyweb24_contact_type4 div.main h2 {color: #c44569;}

.skyweb24_popup_pro_timer {background: #c44569;}
.popup-window.sw24PopupPro .popup-window-close-icon {background: #c44569;}